*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif ,"work-san";
}
.container-all{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 768px){
    .container-all{
        width: 750px;
    }
}

@media(min-width:992px){
    .container-all{
        width: 970px;
    }
}

@media(min-width:1200px){
    .container-all{
        width: 1170px;
    }
}




.header .container-all{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 3;
}
.header .container-all::after{

    content: '';
    position: absolute;
    width: calc(100% - 30px );
    height: 1px;
    background-color: black;
    bottom: 0px;
    left: 15px;
    z-index: -1;
}
.header .log{
    margin-top: 15px;
}
.header .log img{
height: 40px;

}

.header nav .toggle-menu{
cursor: pointer;
}
@media(min-width:768px){
    .header nav .toggle-menu{
        display: none;
    } 

    
}


.header nav{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}

.header nav ul{
    display: flex;
}
@media(max-width:767px){
    .header nav ul{
        display: none;
    }
    .header nav .toggle-menu:hover + ul{
        display: flex;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        align-items: center;
    }
    .header nav ul li a{
        padding: 15px !important;
    }
}
.header nav ul li{
   
    list-style: none;


}
.header nav ul li a{
    text-decoration: none;
    color: white;
    transition: .3s;
    padding: 30px 10px;
    display: block;
}

.header nav ul li a.active,
.header nav ul li a:hover
{
    color: #19c8fa;
    border-bottom:  1px solid #19c8fa;

}

.header nav .serach-icon{
    width: 40px;
    height: 30px;
    position: relative;
    border-left: 1px solid #777;
    margin-left: 30px;
}

.header nav .serach-icon i{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
}

.landing{
    background-image: url("../assets/landing\ \(1\).jpg");
    min-height: 100vh;
    background-size: cover;
    position: relative;
}

.landing .overlay{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 /60%);
}


.landing .text{
    position: absolute;
    top: 50%;
    transform: translate(0 , -50%);
    padding:60px;
    background-color:rgba(15, 109, 143, 0.7);
    width:50%;
    color:white;
}

.landing .text h2{
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 30px;
}

.landing .text p{
    line-height: 1.6;
    font-size: 14px;
}

.landing .fa-angle-left{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    left: 22px;
}

.landing .fa-angle-right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    right: 22px;
}

.landing .bullets{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-61%);
    color: white;
    list-style: none;
    display: flex;
}

.landing .bullets li{
    margin-left: 24px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid;
}

.landing .bullets .active{
    background-color: #19c8fa;
    border-color: transparent;
}

 .main-heading{
    text-align: center;

}



.main-heading h2::before{
content:'';

    position: absolute;
    width: 150px;
    background-color: black;
    bottom: -30px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
}


.main-heading h2::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    background-color: white;
}

.main-heading h2{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 70px;
    position: absolute;
    position: relative;
    left: 50%;
    transform: translate(-50%,0 );
}
.main-heading{
    position: relative;
}
.main-heading p{
    width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
.services {
    margin-bottom: 60px;
}
.services .services-content{
   display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}

.services .services-content .srv{
    display: flex;
}

.services .services-content .srv .text{
    margin-left: 20px;
}


.services .services-content .srv .text h2{
    color: #19c8fa;
    margin: 0 0 15px 0;

}

.services .services-content .srv .text p{
    line-height: 1.6;
    color: #777;
}
@media(max-width:768px){
    .services .services-content .srv{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
     
     }

     .services .services-content .srv .text{
        text-align: center;
     }
}

@media(max-width:768px){
    .landing .text{
        display: none;
    }
}

.desige{
    height: 600px;
    width: 100%;
    background-image: url("../assets/design-features.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
   align-items: center;

}



.desige  img{
    position: absolute;
    left: 100px;
    bottom: -50px;
   
}

.landing-text-desgn{
    background-color: rgba(15, 116, 143, 0.7);
    position: absolute;
    right: 0;
    padding: 50px;
}

.landing-text-desgn ul{

    margin-top: 60px;
}
.landing-text-desgn ul li{
    list-style: none;
    margin-bottom: 15px;
    color: white;
}
.landing-text-desgn ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
    color: white;
}
.portfolio{
    margin-bottom: 100px;
}
.portfolio .container-all{
    position: relative;
}
.portfolio .portofolio-tabs ul{
    display: flex;
    position: absolute;
    left: 43%;
    transform: translate(-50px,0);
}

.portofolio-tabs ul li{
    list-style: none;
    padding: 10px;
}

.portofolio-tabs ul  .active{
    background-color: #19c8fa;
    color: white;
}


.img-container{
    margin-top: 206px;
    display: flex;
    flex-wrap: wrap;

}
.img-container .box{
    flex-basis: 50%;
position: relative;
overflow: hidden;
cursor: pointer;
margin-bottom: 30px;

}

@media(min-width:1199px){
    .img-container .box{
        flex-basis: 25%;
    }
}    

.img-container .box:hover .caption{
    bottom: 0;
}

.img-container .box:hover img{
    transform: rotate(3deg) scale(1.1);
}

.img-container .box .caption{
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
    z-index: 2;
}


.img-container .box img{
    max-width: 100%;
    transition: 0.6s;
}

.portfolio .btn{
position: absolute;
left: 50%;
color: white;
transform: translate(-50%);
background-color: #19c8fa;
padding: 15px;
font-size: 20px;
cursor: pointer;
}

.vedio-portofolio{
    position: relative;
    margin-top: 120px;
}

.vedio-portofolio video{
width: 100%;
}

.vedio-portofolio .text{
    position: absolute;
    top: calc(50% - 102px);
    left: 50%;
    text-align: center;
    transform: translate(-50%, calc(-50% + 102px) );
    background-color: rgba(15, 116, 143, 0.7);
    padding: 50px;
    width: 100%;
 
}
.vedio-portofolio .text h2{
    margin-bottom: 50px;
    color: white;
    font-weight: normal;
}
.vedio-portofolio .text p{
    color: white;
    font-size: 25px;
}

.vedio-portofolio .text button{
    background-color: black;
    border: none;
    color: white;
    padding: 15px;
    margin-top: 10px;
}


.about{
   text-align: center;
   overflow: hidden;
}
.about  img{
    position: relative;
    bottom:-120px;
    margin-top: -120px;
 

}

@media(max-width:767px){
    .about  img{
        position: relative;
        bottom:-60px;
        margin-top: -60px;
        width: 100%;  
    }
}

.stat{
    background-image: url("../assets/stats.png");
    background-size: cover;
    text-align: center;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.stat::before{
    content: "";
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 /60%);
}

.stat .container-all{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.stat .container-all .box{
    color: white;
    padding: 50px;
    background-color: rgba(15, 109, 143, 0.7);
    flex-basis: 25%;
}

@media(max-width:767px){
    .stat .container-all .box{
        flex-basis: 100%;
    }
}


@media(min-width:768px){
    .stat .container-all .box{
        flex-basis: 50%;
    }
}


@media(min-width:992px){
    .stat .container-all .box{
        flex-basis: 25%;
    }
}

.stat .container-all .box i{

    width: 40px;
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    border-radius: 50%;
}
.stat .container-all .box .number{
    font-size: 40px;
    margin-bottom: 15px;
}
.stat .container-all .box p{
    font-weight: normal;
}

@media(max-width:768px){
    .SKILLS .container-all{display: flex;
 flex-direction: column;}

 .SKILLS .container-all .skills-all{
    margin-top: 60px;
 }
}
.SKILLS{
    margin-top: 100PX;
    padding-bottom: 100px;
}

.SKILLS .container-all{
    display: flex;
    justify-content: space-around;
}

.SKILLS .container-all .TESTIMONIALs{
    margin-right: 30px;
}



.SKILLS .container-all .TESTIMONIALs .texT h2{
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}
.SKILLS .container-all .TESTIMONIALs .texT p{
    text-align: center;
    line-height: 2;
    margin-bottom: 60px;
    color: #777;
}

.SKILLS .container-all .TESTIMONIALs .BOX{
    display: flex;

   
}

.SKILLS .container-all .TESTIMONIALs .BOX .text{

    line-height: 2;
}

.SKILLS .container-all .TESTIMONIALs .BOX .text p{
    text-align: right;
    line-height: 5;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.SKILLS .container-all .TESTIMONIALs img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 50px;
}
.TESTIMONIALs{ 
    position: relative;
    margin-bottom: 60px;
}
.TESTIMONIALs .bullets{
    position: absolute;

    left: 50%;
    transform: translateX(-61%);
    color: white;
    list-style: none;
    display: flex;
}

.TESTIMONIALs .bullets li{
    margin-left: 24px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid black;
}

.TESTIMONIALs .bullets .active{
    background-color: #19c8fa;
    border-color: transparent;
}

.skills-all .texT h2{
    font-weight: normal;
    margin-bottom: 20px;
    text-align: center;
}


.skills-all .texT p{
    text-align: center;
    line-height: 2;
    margin-bottom: 60px;
    color: #777;
}


.skills-all .courses .course-box h4{
    font-weight: normal;
}

.skills-all .courses .course-box .prog{
    height: 30px;
    background-color: #dedadc;
    margin-bottom: 40px;
}

.skills-all .courses .course-box .prog span::before{
    content: attr(data-progress);
    position: absolute;
    width: 40px;
    /* height: 35px; */
    background-color: black;
    right: -18px;
    top: -40px;
    border-radius: 7px;
    color: white;
    text-align: center;
    padding: 4px 0;
}
.skills-all .courses .course-box .prog span::after{
    content: '';


    position: absolute;

 
    border-style: solid;
    border-width:8px;
    border-color:    black transparent transparent;;
    top: -15px;
    right: -8px;

}

.skills-all .courses .course-box .prog span{
    background-color: #19c8fa;
    display: block;
    position: relative;
    height: 100%;
}

.qute{
    background-image: url("../assets/quote.jpg");
    background-size: cover;
    text-align: center;
    position: relative;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.qute::before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color:rgb(0 0 0 /75%);
}

.qute .container-all{
  position: relative;
}

.qute .container-all q{
    margin-bottom: 20px;
    display: block;
    font-size: 30px;
}
.pricing{
    padding-bottom: 100px;
}
.pricing .plans{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
    grid-gap: 30px;
}
.pricing .plan{
    background-color: #fcfcfc;
    text-align: center;
}
.pricing .plan .head{
    padding: 20px 40px;
    border-top: 2px solid #19c8fa;
    border-bottom: 2px solid #19c8fa;
}
.pricing .plan .head span{
    font-weight: bold;
    font-size: 60px;
    
}


.pricing .plan .head h3{
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.pricing .plan ul{}
.pricing .plan ul li{
    list-style: none;
  padding: 20px;
  position: relative;
}

.pricing .plan ul li:not(:last-child):after{
    content: '';
    position: absolute;
    height: 1px;
    background: #19c8fa;
    width: 140px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

}

.pricing .plan ul li:last-child{
    border-bottom: 1px solid #19c8fa;
}
.pricing .plan button{

    padding: 15px;
    margin-top: 30px;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #19c8fa;
}

.contact-us{
    text-align: center;
    margin-bottom: 100px;
    font-size: 20px;
}

.contact-us .container-all .button{
    padding: 20px;
    background-color: #19c8fa;
    width: fit-content;
    margin: 15px auto auto;
    color: white;
}

.subscrib{
    background-image: url('../assets/subscribe.jpg');
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
position: relative;
}

.subscrib .container-all{
    position: relative;
    display: flex;
    justify-content: center;
}

.subscrib .container-all p{
    color: white;
    margin-left: 50px;
    line-height: 2;
}

.subscrib .container-all form{
    position: relative;
    width: 500px;
    max-width: 100%;
    display: flex;
}

.subscrib .container-all form i{
    color: white;
    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
    left: 25px;
}

.subscrib .container-all form input[type="email"]{
    background-color: transparent;
    border: 1px solid white;
    width: calc(100% - 130px);
}

.subscrib .container-all form input[type="submit"]{
    background-color: #19c8fa;
    width: 130px;
    border: 1px solid white;
    
}
.subscrib .container-all form i::before{
    content: "\f0e0";
}
.subscrib::before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 /60%);
}

.subscrib form ::placeholder{
    color: white;
    position: absolute;
    left: 60px;
}

.footer{
    background-image: url(../assets/subscribe.jpg);
    background-size: cover;
    padding: 60px;
    margin-top: 100px;
    text-align: center;
    position: relative;
}

.footer::before{
    content: '';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 /60%);
}
.footer .container-all{
position: relative;
}
.footer .container-all img{
    margin-bottom: 20px;
}

.footer .container-all p{
    color: white;
    font-weight: normal;
    font-size: 16px;
    padding: 20px;
}

.footer .container-all ul{
    list-style: none;
    display: flex;
    background-color: white;
}
.footer .container-all .social i{
    margin-left:20px ;
    color: white;
}
